<div class="quiz-new-answer">
  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :left_choice %>
      <%= f.text_field :left_choice, class: "form-control", placeholder: "Left Choice" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :right_choice %>
      <%= f.text_field :right_choice, class: "form-control", placeholder: "Right Choice" %>
    </div>
  </div>
</div>
