<div class="card mb-2">
  <div class="card-block">
    <%= f.hidden_field :type, value: "Questions::Match" %>
    <div class="form-group">
      <%= f.label :question %>
      <%= f.text_field :question, class: "form-control", placeholder: "Question title" %>
    </div>
  </div>
</div>
